<!-- Modal -->
<div class="modal fade" id="commentModal{{this._id}}" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add a Comment to:</h5>
        <h3><strong>{{this.title}}</strong></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id={{this.id}}>
        {{#if this.comments}}
        {{#each this.comments}}
        <div class="panel panel-default">
          <div class="panel-body" id="modalBody">
            <div class="row text-center" data-id={{this.id}}>
              <p>{{this.comment}}</p>
            </div>
            <button type="button" class="btn btn-danger deleteComment" data-id={{this._id}}>X</button>
          </div>
        </div>
        {{/each}}
        {{else}}
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Be the first to comment on this article!</h4>
          </div>
        </div>
        {{/if}}
        <div class="form-group">
          <textarea name="input" placeholder="Make a Comment" id="commentText{{this._id}}"
            class="form-control new-comment{{this.id}}" rows="5"></textarea>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" data-id={{this._id}} class="btn btn-success saveComment">Save changes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>